* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #070707;
}


/* Login */

.ContLogin {
    width: 100%;
    height: 90vh;
    padding: 20px 20px 40px 20px;
    display: flex;
    justify-content: center;
}

/*.ContLogin .caja {
    background: #202020;
    width: auto;
    height: auto;
    color: #c7c7c7;
    position: absolute;
    padding: 50px 100px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px 5px 25px 5px;
}*/

.ContLogin .caja {
    background: #202020;
    width: auto;
    height: auto;
    color: #c7c7c7;
    padding: 50px 100px;
    text-align: center;
    border-radius: 32px 5px 25px 5px;
}   

.caja input[type="text"],
.caja input[type="email"],
.caja input[type="password"] {
    border: 0;
    background: none;
    margin: 20px auto;
    display: block;
    text-align: center;
    border: 2px solid #ffc107;
    padding: 10px 15px;
    border-radius: 30px;
    color: #c7c7c7;
}

.caja input[type="submit"] {
    border: 0;
    background: none;
    margin: 20px auto;
    display: block;
    text-align: center;
    border: 2px solid #ffc107;
    padding: 10px 15px;
    border-radius: 30px;
    color: #c7c7c7;
}

.caja input:hover[type="submit"] {
    background: #ffc107;
    color: #070707;
}


/* Login Fin */


/* Footer */

footer {
    width: 100%;
    background: #202020;
    color: #f2f2f2;
}

.container-footer-all {
    width: 100%;
    max-width: 1200px;
    padding: 40px;
    margin: auto;
}

.container-body {
    display: flex;
    justify-content: space-between;
}


/* Columna Info */

.colum1 {
    max-width: 400px;
}

.colum1 h2 {
    font-size: 22px;
}

.colum1 p {
    font-size: 17px;
    margin-top: 20px;
}


/* Columna Redes */

.colum2 {
    max-width: 400px;
}

.colum2 h2 {
    font-size: 22px
}

.fila {
    margin-top: 20px;
    display: flex;
}

.fila img {
    width: 36px;
    height: 36px;
}

.fila label {
    margin-top: 10px;
    margin-left: 10px;
    color: #c7c7c7;
}


/* Columna Contacto */

.colum3 {
    max-width: 400px;
}

.colum3 h2 {
    font-size: 22px;
}

.fila2 {
    margin-top: 20px;
}

.fila2 img {
    width: 36px;
    height: 36px;
    margin-left: 10px;
}

.fila2 label {
    margin-left: 20px;
}


/* Container footer */

.container-footer {
    width: 100%;
    padding: 15px;
}

.footer {
    max-width: 1200px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 10px;
}

.copyright {
    color: #c7c7c7;
}

.informacion a {
    text-decoration: none;
    color: #c7c7c7;
}

@media screen and (max-width: 1100px) {
    .container-body {
        flex-wrap: wrap;
    }
    .colum2 {
        display: block;
    }
    .colum2,
    .colum3 {
        margin-top: 40px;
    }
}